* text=auto eol=lf
extended/packages/whisper/bin/**/*.dll filter=lfs diff=lfs merge=lfs -text
extended/packages/whisper/bin/**/*.exe filter=lfs diff=lfs merge=lfs -text
extended/packages/whisper/bin/*.dll filter=lfs diff=lfs merge=lfs -text
extended/packages/whisper/bin/*.exe filter=lfs diff=lfs merge=lfs -text
